<h1>Table Viewer</h1>
<hr>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">Experiment Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for experiment in experiments %}
        <tr>
            <td>{{ experiment.name }}</td>
            <td>
                <a href="{{ action_for('.show', id=experiment.id) }}">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
