{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/view.css">
{% endblock %}

{% block js %}
  <script src="/static/vendors/socketio/socket.io.min.js"></script>
  <script src="/static/js/view-table.js"></script>
{% endblock %}

{% block content %}
  <section class="view">
    <span class="d-none" id="experiment-id" data-id="{{experiment.id}}"></span>
    <h1>Data Table: {{experiment.name}}</h1>

    <div class="alert alert-danger" role="alert" id="status-message">
      Server appears to be down. Waiting ...
    </div>

    <ul class="status">
      <li>
        <i class="fs-3 bi-router" id="connection-status"></i>
      </li>
      <li>
        <i class="fs-3 bi-cloud-download-fill" id="loading-icon"></i>
        <div class="d-inline-block form-check">
          <input class="form-check-input" type="checkbox" id="sync-checkbox" checked>
          <label class="form-check-label" for="sync-checkbox">
            Sync
          </label>
        </div>

      </li>
    </ul>

    <hr>

    <div>
      <a href="{{ url_for('view_api.download', id=experiment.id) }}", targer="_blank">
        Download CSV
      </a>
    </div>

    <p id="data-info">No data available yet. Please wait...</p>

    <div class="d-inline-flex flex-column">
      <div class="form-check order-0">
        <input class="form-check-input" type="checkbox" id="follow-checkbox">
        <label class="form-check-label" for="follow-checkbox">
          Follow
        </label>
      </div>

      <table id="output-table" class="order-1 table table-striped table-condensed table-responsive table-hover table-bordered">
        <tbody id="output">
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
