.view #connection-status {
  color: red;
}

.view #connection-status.on {
  color: green;
}

.view #status-message {
  color: gray;
  font-size: 0.9rem;
}

.view #status-message.on {
  display: None;
}

.view #output-table {
  width: auto
}

.view #output tr:first-child {
  font-weight: bold;
}

.view #data-info {
  color: gray;
  font-style: italic;
}

.view #data-info.has {
  display: None;
}

/* ul without icon, li in horizontal */
.view .status {
  padding-left: 0;
  list-style-type: none;
}

.view .status li {
  display: inline;
}

#loading-icon {
  opacity: 0;
}

#loading-icon.spin {
  animation: done infinite 1s;
  color: red;
}

#loading-icon.done {
  color: green;
}

@keyframes done {
  50% { opacity: 1; }
  100% { opacity: 0; }
}
