{% extends 'base.html' %}

{% block js %}
  <script src="/static/js/tools.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/css/tools.css">
{% endblock %}

{% block content %}
  <section class="tools">
    <h1>Data Tools</h1>

    <h2>Cols</h2>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="post-button">Send</button>
          <input id="cols" name="cols" type="text" class="form-control" placeholder="1,2,3,4">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-body">
            <pre id="post-output" class="output"></pre>
          </div>
        </div>
      </div>
    </div>

    <h2>Command</h2>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="cmd-button">Send</button>
          <input id="cmd" name="cmd" type="text" class="form-control" placeholder="configs">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-body">
            <pre id="cmd-output" class="output"></pre>
          </div>
        </div>
      </div>
    </div>

    <h2>Config</h2>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="config-button">Send</button>
          <input id="config" name="config" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-body">
            <pre id="config-output" class="output"></pre>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
