{% extends 'base.html' %}

{% block js %}
  <script src="/static/vendors/chartjs/chart.umd.js"></script>
  <script src="/static/js/view-chart.js"></script>
{% endblock %}

{% block content %}
  <style>
    .chart-container {
      position: relative;
      width: 100%;
    }

    #view-chart {
      width: 100% !important;
      height: 100% !important;
    }
  </style>

  <section class="chart">
    <h1>Data Chart</h1>

    <div class="row">
      <div class="col-md-5 col-12 mb-2">
        <select class="form-select" name="x-axis" id="x-axis">
          <option value="">X-Axis</option>
          {% for header in headers %}
            <option value="{{ header }}">{{ header }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-5 col-12 mb-2">
        <select class="form-select" name="y-axis" id="y-axis">
          <option value="">Y-Axis</option>
          {% for header in headers %}
            <option value="{{ header }}">{{ header }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-2 col-12 mb-2">
        <button id="generate-chart" class="btn btn-outline-primary">Generate Chart</button>
      </div>
    </div>


    <div class="chart-container">
      <canvas id="view-chart"></canvas>
    </div>
  </section>

{% endblock %}
