{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/logs.css">
{% endblock %}

{% block content %}
  <section class="logs">
    <h1>Logs</h1>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#error-modal">
      <i class="bi-trash"></i>
    </button>

    <hr>

    <table class="table table-striped table-condensed table-responsive table-hover table-bordered ">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Method</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
      {% for line in logs %}
        <tr>
          {% for col in line.split('\t') %}
            <td>{{ col }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {{ render_partial('_modal.html', id="error-modal", title="Clear Logs", text="File 'error.log' will be removed. Continue?", action="/ita/view/logs/clear") }}

  </section>
{% endblock %}
