{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="/static/css/view.css">
{% endblock %}

{% block js %}
  <script src="/static/vendors/socketio/socket.io.min.js"></script>
  <script src="/static/js/view.js"></script>
{% endblock %}

{% block content %}
  <section class="view">
    <h1>
      Data Viewer
    </h1>

    <div class="alert alert-danger" role="alert" id="status-message">
      Server appears to be down. Waiting ...
    </div>

    <ul class="status">
      <li>
        <i class="fs-3 bi-router" id="connection-status"></i>
      </li>
      <li>
        <i class="fs-3 bi-cloud-download-fill" id="loading-icon"></i>
      </li>
    </ul>


    <hr>

    <p id="data-info">No data available yet. Please wait...</p>

    <table id="output-table" class="table table-striped table-condensed table-responsive table-hover table-bordered">
      <tbody id="output">
      </tbody>
    </table>
  </section>
{% endblock %}
